target/*
.settings/*
.classpath
.project
.idea
*.iml
/target
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
mvnw*
docker-compose.yml
pom.xml
sonar-project.properties
